body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
}

form {
    margin: 20px;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    background: #ff3b3b;
    color: white;
    border: none;
    cursor: pointer;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

img {
    width: 150px;
}